<div class="container">
	<br>
	<br>
	<h1>Mes réservations</h1>
	<br>
	<!--<div class="sumup">-->
	<% @flats_bookings.each do |booking|%>
	<li><%= booking.status%></li>
	<li><%= booking.flat.name%></li>
	<% end %>
	</div>
</div>