// Specific CSS for your home-page
// .titre {
//   size: 40px;
//   font-family: $font;
// }

@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,500;0,563;1,500;1,562&display=swap');

h1 {
  font-size: 70px;
  font-family: 'Literata', serif;
  color: #41E2BA;
}

h5 {
  font-size: 20px;
  color: rgb(105, 105, 105);
}