<div class="container">
<h1>Tous les hébergements</h1>
<ul>
    <% @flats.each do |flat| %>
      <li><%= link_to flat.name, trip_flat_path(trip_id: @trip.id, id: flat.id) %></li>
    <% end %>
  </ul>

</div>