<h1>home</h1>
<%= link_to 'About', about_path %>
<%= link_to 'Contact', contact_path %>
    <div class='container'>
    <h1>VOTRE 1er VOYAGE</h1>
        <%= render "trips/form.html.erb", trip: @trip %> 
    
    </div>
