<div class="container">
	<h1>Tous les restaurants</h1>
	<p>Découvrez nos merveilleux restaurants</p>
	<ul>
		<% @restaurants.each do |restaurant| %>
			<li><%= link_to restaurant.name, trip_restaurant_path(@trip, restaurant) %></li>
		<% end %>
	</ul>
</div>