.text-center .h1 {
  text-align: center;
}
.text-center .h2 {
  text-align: center;
  margin-bottom: 100px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: scale .7s ease-out;
  transform: scale(1);
  &:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transform: scale(1.03);
    transition: scale .7s ease-out;
  }
}

.card-trip > img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 10px;
}

.card-trip-pricing {
  font-size: 25px;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding-top: 4px;
  justify-content: right;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 20px 35px 30px 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 20px;
  top: -30px;
  width: 50px;
}

//voyage index

.cards-sumup {
  display: flex;
  height: 120px;
  width: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  border-radius: 10px;
}

.card-booking-infos-sumup h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.card-booking-infos-sumup {
  padding-top: 5px;
}

.card-booking-infos-sumup p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}


.card-booking-sumup .card-booking-infos-sumup {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-booking-img-sumup {
  height: 120px;
  width: 360px;
  object-fit: cover;
  margin-right: 40px;
}

.card-review-sumup p {
  font-size: 14px;
  opacity: .7;
  margin-left: 30px;
}

.elements {
  display: flex;
}

.title {
  color: #41E2BA;
} 

.inline {
  display: flex;
}

.trip-box{
  border-bottom: 1px solid #dee2e6;
}

.partner {
  padding-bottom: 15px;
}
// fin voyage index
