<div class="container">
	<h1>Toutes les activités</h1>
	<p>Découvrez nos merveilleures activités</p>
	<ul>
		<% @activities.each do |activity| %>
			<li><%= link_to activity.name, trip_activity_path(trip_id: @trip.id, id: activity.id) %></li>
		<% end %>
	</ul>
</div>